<!DOCTYPE html>
<html>
<head>
  <title>CONSCIOUS/mess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <h1>CONSCIOUS/mess</h1>
    <h2>...a stream of anonymous online ramblings</h2>
  </div>
<%= yield %>

</body>
</html>
